<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hasta_bilgileri.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @hasta_bilgileri.surname %>
</p>

<p>
  <b>Dateofbirth:</b>
  <%= @hasta_bilgileri.dateOfBirth %>
</p>

<p>
  <b>Diagnosis:</b>
  <%= @hasta_bilgileri.diagnosis %>
</p>

<p>
  <b>Operationdate:</b>
  <%= @hasta_bilgileri.operationDate %>
</p>

<p>
  <b>Hospitalname:</b>
  <%= @hasta_bilgileri.hospitalName %>
</p>

<p>
  <b>Organization:</b>
  <%= @hasta_bilgileri.organization %>
</p>

<p>
  <b>Website:</b>
  <%= @hasta_bilgileri.webSite %>
</p>

<p>
  <b>Telephone:</b>
  <%= @hasta_bilgileri.telephone %>
</p>

<p>
  <b>Adress:</b>
  <%= @hasta_bilgileri.adress %>
</p>

<p>
  <b>City:</b>
  <%= @hasta_bilgileri.city %>
</p>

<p>
  <b>Country:</b>
  <%= @hasta_bilgileri.country %>
</p>

<p>
  <b>State:</b>
  <%= @hasta_bilgileri.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @hasta_bilgileri.zipCode %>
</p>

<p>
  <b>Docsubject:</b>
  <%= @hasta_bilgileri.docSubject %>
</p>

<p>
  <b>Doclink:</b>
  <%= @hasta_bilgileri.docLink %>
</p>

<p>
  <b>Aditionalinfo:</b>
  <%= @hasta_bilgileri.aditionalInfo %>
</p>


<%= link_to 'Edit', edit_hasta_bilgileri_path(@hasta_bilgileri) %> |
<%= link_to 'Back', hasta_bilgileris_path %>
